h1 {
  font-family: fantasy;
  font-size: 500%;
  text-align: center;
  color: red;
}

h2 {
  font-family: inherit;
  font-size: 200%;
  text-align: center;
  color: red;
}

html {
  height: 100%;
}

body {
  background-image: url('../images/background.jpg');
  background-size: 100% 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

button {
  width: 120px;
  height: 50px;
  font-size: 110%;
  color: red;
  background-color: none;
  border: none;
  border-radius: 20px;
}

#instruction {
  margin-right: 20px;
}

#play {
  margin-right: 20px;
}

#boxofbuttons {
  justify-content: center;
  display: flex;
}
