h1 {
  font-family: fantasy;
  font-size: 500%;
  text-align: center;
  color: red;
}

h2 {
  font-family: inherit;
  font-size: 200%;
  text-align: center;
  color: red;
}

html {
  height: 100%;
}

body {
  background-image: url('../images/background.jpg');
  background-size: 100% 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

button {
  width: 120px;
  height: 50px;
  font-size: 110%;
  color: black;
  background-color: #AB1818;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px #999;
}

button:hover {
  background-color: #C81818;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
  background-color: #AC1818;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

button:focus {
  outline: 0;
}

a:link {
  text-decoration: none;
}

#instruction {
  margin-right: 20px;
}

#play {
  margin-right: 20px;
}

#boxofbuttons {
  justify-content: center;
  display: flex;
}

#nameinput {
  font-size: 16px;
  width: 100px;
  height: 20px;
}
