<html>
  <head>
    <link rel="stylesheet" href="resources/css/game.css">
    <audio src="/resources/music/Haunted.mp3" autoplay loop></audio>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  </head>
  <body id="body">
    <script src="resources/javascript/game.js"></script>
    <input id="chestInput" type="text" maxlength="4"/>
    <input id="doorInput" type="text" maxlength="4"/>
    <img id="dreamcatcher" src="/resources/images/dreamcatcher.jpg">
    <img id="dreamcatcherItem" src="/resources/images/dreamcatcher.jpg">
    <img id="numberpad" src="/resources/images/telephone-keypad.png">
    <img id="numberpadItem" src="/resources/images/telephone-keypad.png">
    <img id="codeNote" src="/resources/images/code.jpg">
    <img id="codeNoteItem" src="/resources/images/code.jpg">
    <img id="quote" src="/resources/images/quote.png">
    <img id="quoteItem" src="/resources/images/quote.png">
    <img id="note" src="/resources/images/note2.png">
    <img id="noteItem" src="/resources/images/note2.png">
    <img id="portrait" src="/resources/images/backofportrait.png">
    <img id="portraitItem" src="/resources/images/backofportrait.png">
    <img id="sparkle1" src="/resources/images/sparkle1.gif">
    <img id="sparkle2" src="/resources/images/sparkle1.gif">
    <img id="sparkle3" src="/resources/images/sparkle1.gif">
    <img id="sparkle4" src="/resources/images/sparkle1.gif">
    <div>

    </div>
  </body>
</html>
