<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/resources/css/highscores.css">
    <audio src="/resources/music/Darkness.mp3" autoplay loop></audio>
    <title>High Scores</title>
  </head>
  <body>
    <form action='/' method=get>
      <button type="submit" id=hsbutton>Back</button>
    <div id="highscorebox">
      <h1>High Scores</h1>
        <table>
          <tr>
            <th class="rowheader">Username</th>
            <th class="rowheader">Time(sec)</th>
          </tr>
          {% for score in scores %}
            <tr><th>{{score.name}}</th><th>{{score.score}}</th></tr>
          {% endfor %}
        </table>
    </div>
  </body>
</html>
