<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href ="/resources/index.css"> -->
    <link rel="stylesheet" href="/resources/css/index.css">
    <title>Escape the Room</title>
  </head>
  <body>
    <div id="box">
      <h1>ESCAPE THE ROOM</h1>
      <h2>{{loginlink}}</h2>
      <div id="boxofbuttons">
        <a href ="/instructions">
        <button type ="submit" id="instruction">Instructions</button></a>
        <a href ="/game">
        <button type="submit" id="play">Play</button></a>
        <a href ="/">
        <button type="submit">High Scores</button></a>
      </div>
    </div>
  </body>
</html>
