<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href ="/resources/index.css"> -->
    <link rel="stylesheet" href="/resources/css/index.css">
    <!-- <embed name="shapeofyou" src="/resources/ShapeOfYou.mp3" width="100" height="100" loop="false" autostart="true"> -->
    <audio src="/resources/music/Haunted.mp3" autoplay loop></audio>
    <title>Escape the Room</title>
  </head>
  <body>
    <div id="box">
      <h1>ESCAPE THE ROOM</h1>
      <!-- <h2>{{loginlink}}</h2> -->
      <form>
        Name: <input type="text" name="name" onkeypress="enterName(event)" id=nameinput/>
      </form>
      <div id="boxofbuttons">
        <a href ="/instructions">
        <button type ="submit" id="instruction">Instructions</button></a>
        <a href ="/game">
        <button type="submit" id="play">Play</button></a>
        <a href ="/highscores">
        <button type="submit">High Scores</button></a>
      </div>
    </div>
  </body>
</html>
