<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/resources/css/instructions.css">
    <title>Instructions</title>
  </head>
  <body>
    <div id="instruction">
      <h1>Background Story</h1>
      <p>Grace has been kidnapped in her sleep and locked in an unknown room.</p>
      <p>Gather the clues to discover who the culprit is and escape the room!</p>
      <h1>Controls</h1>
      <p>Use the arrow keys to move forward, back, left and right.</p>
      <p>Use the spacebar to interact with objects in the room.</p>
      <h1>Instructions</h1>
      <p>The purpose of this game is to gather the objects, solve the puzzle and escape the room as quickly as you can.</p>
      <p>Walk around the room and interact with objects to find the clues that will help you solve the puzzle.</p>
      <p>Once you solve the puzzle, you will be able to escape.</p>
      <form action='/' method=get>
        <button type="submit">Back</button>
      </form>
    </div>
  </body>
</html>
