<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/resources/css/instructions.css">
    <title>Instructions</title>
  </head>
  <body>
    <div id="instruction">
      <h1>Controls</h1>
      <p>Use the up arrow to move forward.</p>
      <p>Use the down arrow to move back.</p>
      <p>Use the left arrow to move left.</p>
      <p>Use the right arrow to move right.</p>
      <p>Use the spacebar to interact with objects in the room.</p>
      <h1>Instructions</h1>
      <p>The purpose of this game is to gather the objects, solve the puzzle and escape the room as quickly as you can.</p>
      <p>Walk around the room and interact with objects to find the clues that will help you solve the puzzle.</p>
      <p>Once you solve the puzzle, you will understand the secret of the room and be able to escape.</p>
      <form action='/' method=get>
        <button type="submit">Back</button>
      </form>
    </div>
  </body>
</html>
